@model IEnumerable<TodoWebApp.Models.Todo>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Subject)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Goal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PlannedSessions)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExecutedSessions)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PercentageAccomplished)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Points)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DueDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comments)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Goal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlannedSessions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExecutedSessions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PercentageAccomplished)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
